{% extends "admin/base_site.html" %}
{% load admin_static %}
{% load staticfiles %}

{% block breadcrumbs_items %}
<a href="{% url 'admin:index' %}">Home</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="app-list">
        <div class="col l9 app intro-section">
          <h3>Introduction</h3>
          This is introduction how to use this backend.

          <h5>Categories</h5>
          At first you should add categories (example Tvorim web, Programovani, Data girls, etc..). Categories you can add in Courses/Categories section.

          <h5>Venues</h5>
          In the next step create venues for all cities. Then you can add venue to the courses. Venues you can add in Venues/Course venues section.

          <h5>Admins/Organisers</h5>
            You can add more administrators of the system, who can manage courses backend. New administrators you can add in Auth/Users section. You should setup password for the organiser and then send by email his credentials. Mandatory fields are email and password. <br />
            When you create new admin user, you are redirect to the next screen, where you should check <strong>Staff status</strong>, <strong>Superuser status</strong> and save the user.

            <h5>Couches</h5>
            You can also add new couches. You add new couch in Auth/User section. There is only one mandatory field email address. You do not need fill password for the couch. At the final step, you check <strong>couch </strong>. After this step , you will be redirect to the next page, where is no need to setup any other information if you do not need and save the user.
        </div>
        <!--
        <div class="col s12 m6 l6 app">
            <div class="card">
                <div class="card-content">
                    <span class="card-title black-text">{{ app.name }}</span>
                    <div class="row">
                        {% for model in app.models %}
                        <div class="app-item col s6 m6 l4">
                            <a class="waves-effect waves-light green-text text-lighten-2" href="{{ model.admin_url }}">
                                <img src="https://trello-attachments.s3.amazonaws.com/5585ac604e4d95cb6a64c0a7/80x55/0bbae46a86315255bfbd25bd346e895f/course-icon.png" class="course-icon" />
                                <h6 style="truncate word-wrap: break-word;">{{ model.name }}</h6>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
      -->
    </div>
</div>
{% endblock %}
